/backend/__pycache__/
/backend/db.sqlite3
/venv/
/.env
/backend/.env
/frontend/.env
/frontend/node_modules
/frontend/dist
/frontend/build
/frontend/public/next.svg
/frontend/public/favicon.ico
/backend/videos/
/backend/users/
